header {
    display: flex;
    align-items: center;
    background-color: var(--header-color);
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    color: var(--gold);
    box-shadow: 0px 0px 5px 5px #00000055;
    z-index: 99;
    position: sticky;
    top: 0;
}

.navigation-mobile {
    margin-left: auto;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.navigation-desktop {
    display: none;
}

@media (min-width: 1080px) {
    .navigation-mobile {
        display: none;
    }

    .navigation-desktop {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-right: 20px;
        margin-left: auto;
    }

    .navigation-desktop a {
        color: var(--gold);
        text-decoration: none;
    }

    .navigation-desktop a:hover {
        text-decoration: underline;
    }
}

.drop-btn {
    width: 65px;
    height: 65px;
    font-size: 40px;
    background-color: var(--gold);
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 6px 0px 0px #a2762a;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.drop-btn:hover {
    scale: 1.15;
    cursor: pointer;
}

.drop-btn:active {
    box-shadow: 0px 0px 0px 0px #008888;
    translate: 0px 6px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 20px;
    padding: 5px;
    background-color: var(--main-box-bg-color);
    min-width: 180px;
    z-index: 1000;
    border-style: solid;
    border-radius: 10px;
    border-color: #008888;
    border-width: 3px;
    box-shadow: 0px 0px 0px 3px var(--main-box-bg-color), 5px 5px 5px 0px #00000055;
    text-align: left;
    translate: -3px 0px;
}

.dropdown-content a {
    color: var(--font-color);
    font-size: 24px;
    display: block;
    margin: 10px;
}

img.logo {
    border-radius: 50%;
}

.header-title {
    vertical-align: center;
    text-shadow: var(--text-shadow);
    margin: 20px;
    color: var(--gold);
}