header {
    background-color: #B036F3;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    color: #F4AF36;
    box-shadow: 0px 0px 5px 5px #00000055;
    z-index: 999;
    position: relative;
}

body {
    background-color: #0265ff;
    margin: 0px;
    text-align: center;
}

footer {
    background-color: #000060;
    margin: 0px;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    color: #e7efff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a.footer-text {
    color: #e7efff;
    margin-left: 35px;
    margin-right: 35px;
}

img.logo {
    border-radius: 50%;
}

.header-title {
    vertical-align: center;
}

a.newsletter-button {
    display: inline-block;
    font-size: 24px;
    margin: 30px;
    background-color: #F4AF36;
    padding: 15px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 3px 3px 0px 3px #a2762a;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    color: #000000;
}

a.newsletter-button:hover {
    scale: 1.15;
    background-color: #ffd350;
}

div.welcome {
    text-align: left;
    margin: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
    animation-duration: 3s;
    animation-name: slide-in;
    width: 40%;
    font-size: 24px;
}

@keyframes slide-in {
  from {
    translate: 100vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

div.welcome_box {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://placehold.net/800x600.png);
    z-index: 1;
}